<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Movie List</title>
</head>
<body>
  <div class="navbar">
    <div>
        <h1>Broke Buster</h1>
    </div>
    <div>
        <a href="/movies/new" class="bblinks">Rent a New Movie</a> |
        <a href="/users/profile/{{one_user.id}}" class="bblinks">Profile Page</a> 
        | <a href="/logout" class="bblinks">Logout</a>
    </div>
  </div>

    <h3>Welcome to the "Store"</h3>
    
    <div class="d-flex justify-content-between">
      <h5>All Posted Movies:</h5>
      <div>
        <a href="/movies/new" class="bblinks">+ Create</a> |
        <a href="/users/profile/{{one_user.id}}" class="bblinks">Profile Page</a> 
        | <a href="/logout" class="bblinks">Logout</a>
      </div>
    </li>
      </ul>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>Title</th>
        <th>Genres</th>
        <th>Posted By</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.genres}}</td>
          <td>{{ movie.posted_by }}</td>
          <td>
              <a href="">view movie</a>
              {% if user_id == current_user.id %}
                <a href="">edit</a>
                <a href="">delete</a>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      
    </div>
</body>
</html>