<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Register & Login</title>
</head>
<body>
<div class="container d-flex">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    
    <form action="/login" method="POST" class="p-3 m-5 shadow-lg bg-body-tertiary rounded  bg-body-secondary d-flex flex-md-column justify-content-around align-items-center">
      <h2 class="mb-4 ">Login</h2>
      
      <div class="email mb-3">
        <label for="email">Email:</label>
        <input type="email" name="email" >
      </div>

      <div class="password mb-3">
        <label for="password">Password:</label>
        <input type="password" name="password" >
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

    </form>


    <form action="/user/register" method="post" class="p-4 m-5 shadow-lg bg-body-tertiary rounded  bg-body-secondary d-flex flex-md-column justify-content-around align-items-center">
      <h2 class="mb-4">Register</h2>
      
      <div class="email mb-3">
        <label for="email">Email:</label>
        <input type="email" name="email" >
      </div>

      <div class="name mb-3">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
      </div>
      
      <div class="name mb-3">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
      </div>
      
      <div class="password mb-3">
        <label for="password">Password:</label>
        <input type="password" name="password" >
      </div>

      <div class="password mb-3">
        <label for="password_confirmation">Confirm Password:</label>
        <input type="password" name="password_confirmation" />
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>

</div>
</body>
</html>